@model IEnumerable<ProjetoAssistenciaTecnicaWeb.Models.OrdemServico>

@{
    ViewData["Title"] = "Busca";
}

@section Styles {
    <link rel="stylesheet" href="~/css/OrdemBuscar.css" />
}

<div class="pagina-principal">
    <div class="pagina-menus">

        <h1 class="titulo">Atendimentos</h1>

        <div class="botoes-menus">
            <a asp-action="Create" class="botao-buscar">Criar Novo</a>
        </div>

        <form class="formulario" role="search">
            <div class="general-infos">

                <div class="filtro-infos">
                    <label for="numeroAtendimento">Número de Atendimento</label>
                    <input type="text"
                           name="numeroAtendimento"
                           value="@ViewData["numeroAtendimento"]" />
                </div>

                <div class="filtro-infos">
                    <label for="dataAbertura">Data da Abertura</label>
                    <input type="date"
                           name="dataAbertura"
                           value="@ViewData["dataAbertura"]" />
                </div>
            </div>
            <button type="submit" class="botao-buscar">
                Filtrar
            </button>
        </form>

    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr class="success">
                    <th>
                        @Html.DisplayNameFor(model => model.Tick)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumeroAtendimento)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Defeito)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataAbertura)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cliente.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cliente.CPF_CNPJ)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Produto.Modelo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        <a href="#">Funcionário Cadastro</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tick)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroAtendimento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Defeito)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataAbertura)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.CPF_CNPJ)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Produto.Modelo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdOrdemServico">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.IdOrdemServico">Detalhes</a>
                            <a asp-action="Delete" asp-route-id="@item.IdOrdemServico">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>