@model ProjetoAssistenciaTecnicaWeb.Models.Peca

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir</h1>

<h3>Você tem certeza?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorCompra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorCompra)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorRevenda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorRevenda)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdPeca" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
