@model ProjetoAssistenciaTecnicaWeb.Models.Peca

@{
    ViewData["Title"] = "Details";
}

@section Styles {
    <link rel="stylesheet" href="~/css/PecasDetail.css" />
}

<h1>Detalhes</h1>

<div class="details-container">
    <h4>Peças</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorCompra)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorCompra)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorRevenda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorRevenda)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
    </dl>
</div>
<div class="actions">
    <a class="btn-edit" asp-action="Editar" asp-route-id="@Model?.IdPeca">Edit</a> |
    <a class="btn-back" asp-action="Index">Voltar</a>
</div>
